# Build and Release Folders
.idea/
.ijwb/
.vscode/
__pycache__/
.pytest_cache
.runtime/
.venv-inference/
training/result/*
inference/result/*
inference/runtime_assets/
inference/config/local.yaml
base/result/*
operation/result/*
operation/Note.md
inference/onnxs/*
